<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
    <a href="#" class="navbar-brand ml-3">Brand-Name</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="active nav-item ml-3">
          <a href="index.html" class="nav-link">Home</a>
        </li>
        <!-- <li class="nav-item"><a href="workout.html" class="nav-link">Workout -->
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Workout
            </button>
            <div
              class="dropdown-menu bg-light"
              aria-labelledby="dropdownMenuButton"
            >
              <div class="dropdown-item">
                <a routerLink="plantypes" class="nav-link">Plan Types</a>
              </div>
              <div class="dropdown-item">
                <a href="workouttypes.html" class="nav-link">Workout Types</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item ml-3">
          <a href="meal.html" class="nav-link">Meal</a>
        </li>
        <li class="nav-item ml-3">
          <a href="profile.html" class="nav-link">Profile</a>
        </li>
      </ul>
      <div>
        <div
          class="btn btn-info me-3 px-4"
          data-bs-toggle="modal"
          data-bs-target="#myModal"
        >
          Signup
        </div>
        <div
          class="btn btn-success px-4"
          data-bs-toggle="modal"
          data-bs-target="#myModalLogin"
        >
          Login
        </div>
      </div>
    </div>

    <!-- This is signup modal -->
    <div class="modal" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
        <form
          action=""
          method="GET"
          onsubmit="return validateSignup()"
        >
          <div class="modal-body">
            <span class="close" data-bs-dismiss="modal" title="Close Modal"
              >&times;</span
            >

            <h1 class="m-3">Sign Up</h1>
            <p class="m-3">Please fill in this form to create an account.</p>
            <hr class="m-1" />

            <div class="form-group m-3">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="uname"
                placeholder="Enter email.."
                class="form-control"
                required
              />
              <!-- <div class="valid-feedback">Looks good</div>
            <div class="invalid-feedback">Please fill this field</div> -->
            </div>
            <div class="form-group m-3">
              <label for="password">Set Password</label>
              <input
                type="password"
                id="password"
                placeholder="set password.."
                class="form-control"
                required
              />
              <!-- <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill this field</div> -->
            </div>
            <div class="form-group m-3">
              <label for="password">Re-enter Password</label>
              <input
                type="password"
                id="repassword"
                placeholder="re-enter password.."
                class="form-control"
                required
              />
              <!-- <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill this field</div> -->
            </div>
            <div class="form-group m-3">
              <p>
                By creating an account you agree to our
                <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
              </p>
            </div>
            <div class="form-group m-3">
              <button
                class="btn btn-danger rounded-pill px-5 me-3"
                data-bs-dismiss="modal"
              >
                cancel
              </button>
              <button
                type="submit"
                id="submit"
                class="btn btn-success rounded-pill px-5"
              >
                Submit
              </button>
            </div>
          </div>

        </form>
      </div>
      </div>
    </div>
    <!-- This is login modal -->
    <div class="modal" id="myModalLogin" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
        <form action="" class="modal-content" method="GET">
          <span class="close" data-bs-dismiss="modal" title="Close Modal"
            >&times;</span
          >

          <h1 class="m-3">Login</h1>
          <hr class="m-1" />

          <div class="form-group m-3">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="uname"
              placeholder="Enter email.."
              class="form-control"
              required
            />
            <!-- <div class="valid-feedback">Looks good</div>
            <div class="invalid-feedback">Please fill this field</div> -->
          </div>
          <div class="form-group m-3">
            <label for="password">Enter Password</label>
            <input
              type="password"
              id="password"
              placeholder="enter password.."
              class="form-control"
              required
            />
            <!-- <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill this field</div> -->
          </div>

          <div class="form-group m-3">
            <button
              class="btn btn-danger rounded-pill px-5 me-3"
              data-bs-dismiss="modal"
            >
              cancel
            </button>
            <button
              type="submit"
              id="submit"
              class="btn btn-success rounded-pill px-5"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </nav>
</header>

<main></main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
