html,
body {
  height: 100%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle {
  pointer-events: none;
}

main {
  background-image: url("../assets/images/fitnessimg2.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.close {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #080cf7;
}

.close:hover,
.close:focus {
  color: #f50a02;
  cursor: pointer;
}
